---
layout: layouts/home.njk
eleventyNavigation:
  key: Articles
  order: 2
---

{% set postslist = collections.posts %}
<div class="mt-12 prose prose-xl max-w-prose mx-auto">
	<h1>Articles</h1>
	<p></p>
	{% include "postslist.njk" %}
</div>