---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---

{# Services #}
<section class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:px-8">
	<div class="mx-auto prose prose-2xl max-w-4xl">

		<h1 class="uppercase text-2xl font-semibold">About Adam</h1>
		<p>My roots in Norfolk County, Ontario, are a cherished part of my identity, where I developed a real sense of community and learned to understand the value of long-standing relationships. Since 2014, I've become an active member of the Hamilton tech scene, working with various companies, organizing and volunteering at tech events, and contributing to our local software community.</p>

		<p>My career has touched various fields — from municipal government to ed-tech, marketing agencies to manufacturing. Transitioning from a coder to a problem-solver, I now excel at providing end-to-end solutions that benefit both businesses and users.</p>

		<p>I value clear communication, long-term partnerships, and delivering quality work. My approach focuses on creating technically sound and impactful solutions. By developing digital tools that solve real-world problems, I aim to promote growth and prepare my clients for a digital, scalable future.</p>

		<p>Outside work, I enjoy photography, traveling, and watching <a href="https://letterboxd.com/AdamWills/" >a good film</a>.</p>
	</div>
</section>

{% include "../../_includes/components/contactform.njk" %}