---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---

{# Services #}
<section class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:px-8">
	<div class="mx-auto prose prose-2xl max-w-4xl">

		<h1 class="uppercase text-2xl font-semibold">About Adam</h1>
		<p>Adam grew up in Norfolk County, Ontario, where he still has many connections to this day. Since 2014, he has been an integral part of the Hamilton tech scene, working with multiple companies, organizing conferences and meetups and being a contributing member of the software community.</p>

		<p>His professional experiences span across several industries &mdash; from municipal government to educational technology, marketing agencies to the manufacturing industry. Adam has grown from a coder to becoming experienced in the full proess of solving problems, crafting solutions, and ensuring businesses and users alike get to where they need to go.</p>

		<p>Adam's continued journey in custom software is based on clear and transparent communication, long-term partnerships, and quality work. His methodology is shaped by a career where solutions are not only technically robust but also hold meaningful impact. Adam builds digital tools that solve real-world problems and facilitate growth, ensuring his clients are well-positioned for a future that is not only digital but also pragmatically scalable.</p>

		<p>Outside of work, Adam finds joy in photography, traveling, and <a href="https://letterboxd.com/AdamWills/" >a good film</a>.</p>
	</div>
</section>

{% include "../../_includes/components/contactform.njk" %}