---
layout: layouts/base.njk
eleventyNavigation:
  key: Success
---

{# Services #}
<section class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:px-8 mb-48">
	<div class="mx-auto prose prose-2xl max-w-4xl">

		<h1 class="uppercase text-2xl font-semibold">Contact Request Sent</h1>
		<p>Thank you for reaching out!</p>
		<p>I will do my best to get back to you as soon as possible.</p>
	</div>
</section>

{% include "../../_includes/components/contactform.njk" %}