<!doctype html>
<html lang="{{ metadata.language }}" class="hover:scroll-smooth motion-reduce:hover:scroll-auto">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}
			{% if title %} | {{ metadata.title }}
			{% endif %}
		</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="preconnect" href="https://use.typekit.net">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32"/>
		<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16"/>

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}
		{# {% js %}{% include "node_modules/alpinejs/dist/cdn.js" %}{% endjs %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>
			{% getBundle "css" %}
		</style>
		<link rel="stylesheet" href="https://use.typekit.net/qmt0zpl.css" rel="preload" as="font" crossorigin>

	</script>
	{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
	{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
</head>
<body class="text-base">
	<a href="#skip" class="transition left-0 bg-primary text-primary-content absolute p-3 m-3 -translate-y-16 focus:translate-y-0">Skip to main content</a>

	{% include "../components/nav.njk" %}

	<main id="skip">
		{{ content | safe }}
	</main>

	{% include "../components/footer.njk" %}

	<script defer>
		{% getBundle "js" %}
	</script>
	<!-- Alpine Plugins -->
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>

	<!-- Alpine Core -->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	{%- if process.env.NODE_ENV == "production" %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-YSLTLRDD20"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-YSLTLRDD20');
		</script>
	{% endif %}
	<!-- Current env: {{ env.environment  }} -->
	<!-- Current page: {{ page.url | htmlBaseUrl }} -->
</body>
</html>